@use "./_variable.scss" as variables;

.mainTabel {
  background-color: variables.$colorCircle;
}

.dashboardContainer {
  width: 90%;
  margin: 5rem auto;

}
@media screen and (max-width: 768px) {
  .dashboardContainer {
    width: 100%;
    margin: 4rem auto;
  }
  
}
